<html>

<head>
    <link rel="stylesheet" href="css/mocha.css">
</head>

<body>
    <div id="mocha"></div>
    <div id="app">
        <div ref="Check" v-if="globalCheck()" style="display: none;">{{globalCheck()}}</div>
        <div ref="Check" v-if="!globalCheck()" style="display: none;">{{globalCheck()}}</div>
    </div>
    <script src="js/lib/mocha.js"></script>
    <script src="js/lib/chai.js"></script>
    <script src="../js/vuejs/vue.js"></script>
    <script src="js/lib/vueTemplateCompiler.js"></script>
    <script src="js/lib/vue-test-utils.min.js"></script>
    <script src="../js/axios/axios.min.js"></script>
    <script>
        localStorage.setItem("cart", '[{"id":"5be9cc611c9d440000c1421e","price":59900},{"id":"5beaadda1c9d440000a57d98","price":89900}]');
    </script>
    <script src="../js/checkout.js"></script>
    <script>
        mocha.setup('bdd');
        var expect = chai.expect;
        setTimeout(function () {
            mocha.run();
        }, 1000);
    </script>
    <script src="js/checkout_test.js"></script>
</body>

</html>